body{
    margin: 0px;
    background: url(images/fundoclaro.jpg);
}
/*<div> 1 Container ---------------------------------------------------------------------*/
.container{
    margin-bottom: 0;
}

.container-flex{
    display: flex;
    
   
}
.card{
    height: 100px;
    background: white;
    flex: 1;
    border-top: 0;
    
}
.separator{
    flex: 0.5;
    
}
.card.separator > p{
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 35px;
    color: #B12C00;
}
.text-topbox{
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40%;
}
/*<div> 1 Container -------------------------end <div> 1-----------------------------------*/
/*==========================================================================================*/
/*<div> 1 cabeçalho2 ---------------------------------------------------------------------*/

.cabecalho2{
    text-align: center;
    margin-top: 0;
    margin-bottom: -10px;
    width: 70%;
    height: 90%;
    padding-bottom: 0;
    position: relative;
    left: 15%;
    border-top: solid 3px #B12C00;
    border-left: solid 3px #B12C00;
    border-right: solid 3px #B12C00;
}
.SA{
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 0;


}
/*<div> 1 cabeçalho2 ----------------------end cabeçalho2-----------------------------------*/
.corpo{
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 70%;
    position: relative;
    left: 15%;
    margin-bottom: 80px;
    border-left: solid 3px #B12C00;
    border-right: solid 3px #B12C00;
    border-bottom: solid 3px #B12C00;
    margin-top: 0;
}


.tex1{
    display: inline-block;
    margin-top: 0;
}

h1{
    margin-top: 0px;
    margin-bottom: 0;
}

p{
    margin-bottom: 60px;
    margin-top: 0;
}

.Logo{
    height: 60px;
    width: 40px;
}

.divisoria{

    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 11.5%;
    border-color: #B12C00;
    margin: 0;
    position: relative;
    left: 45%;
    
}

.titulo{
    text-align: center;
    font-family: "Bodoni Moda", serif;
    color: #B12C00;
    margin: 0;
}

.margem{
    margin-top: 10px;
}

.margem2{
    margin-bottom: 10px;
}

.paragrafos{
    font-family: "Bodoni Moda", serif;
    position: relative;
    left: 15%;
    margin-top: 20px;
    text-size-adjust: auto;
    margin-bottom: 20px;
    font-size: 1.2vw;
   
}

.letra1paragrafo{
    font-family: "Bodoni Moda", serif;
    font-size: 25px;
    color: #B12C00;
}

.margem0{
    margin-top: 10px;
}

.letra2paragrafo{
    font-family: "Bodoni Moda", serif;
    font-size: 1.4vw;
    color: #B12C00;
}

/* Fontes -------------------------------------------------------------------*/
.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}
.fonteB{
    font-family: "Bodoni Moda", cursive;
    font-size: 45pt;
    color: #000000;
    /* -webkit-text-stroke: 0.0000001px rgb(78, 35, 236); */
    weight: 900;
}
.fonteC{
    font-family: "Bonheur Royale", cursive;
    font-size: 22pt;
    color: #FFCC00;
}
.bodoni-moda-<uniquifier> {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

