body{
    margin: 0px;
    background: url(images/fundoclaro.jpg);
}
/*<div> 1 Container ---------------------------------------------------------------------*/
.container{
    margin-bottom: 0;
}

.container-flex{
    display: flex;
    
   
}
.card{
    height: 100px;
    background: white;
    flex: 1;
    border-top: 0;
    
}
.separator{
    flex: 0.5;
    
}
.card.separator > p{
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 35px;
    color: #B12C00;
}
.text-topbox{
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 40%;
}
.card > a{
    position: relative;
    left: 26%;
}
.card > .button-opinions{
    position: relative;
    left: 22%;
}
.card > a.site-selector:visited{
    color: #B12C00;
}
a:link{
    color: #000000;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40%;
    text-decoration: none;
}
a:visited{
    color: #FFCC00;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40%;
    text-decoration: none;
    
 
}

.separator-cell{
    font-size: 0;
}
.page-selector{
    color: #B12C00;
}
/*<div> 1 Container -------------------------end <div> 1-----------------------------------*/
/*==========================================================================================*/
/*<div> 1 cabeçalho2 ---------------------------------------------------------------------*/

.cabecalho2{
    text-align: center;
    margin-top: 0;
    margin-bottom: -10px;
    width: 70%;
    height: 90%;
    padding-bottom: 0;
    position: relative;
    left: 15%;
    border-top: solid 3px #B12C00;
    border-left: solid 3px #B12C00;
    border-right: solid 3px #B12C00;
}
.SA{
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 0;


}
/*<div> 1 cabeçalho2 ----------------------end cabeçalho2-----------------------------------*/
.corpo{
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 70%;
    position: relative;
    left: 15%;
    margin-bottom: 80px;
    border-left: solid 3px #B12C00;
    border-right: solid 3px #B12C00;
    border-bottom: solid 3px #B12C00;
    margin-top: 0;
}


.tex1{
    display: inline-block;
    margin-top: 0;
}

h1{
    margin-top: 0px;
    margin-bottom: 0;
}

p{
    margin-bottom: 60px;
    margin-top: 0;
}

.Logo{
    height: 60px;
    width: 40px;
}

.divisoria{

    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 11.5%;
    border-color: #B12C00;
    margin: 0;
    position: relative;
    left: 45%;
    
}

.titulo{
    text-align: center;
    font-family: "Bodoni Moda", serif;
    color: #B12C00;
    margin: 0;
}

.margem{
    margin-top: 10px;
}

.margem2{
    margin-bottom: 10px;
}

.paragrafos{
    font-family: "Bodoni Moda", serif;
    position: relative;
    left: 15%;
    margin-top: 20px;
    text-size-adjust: auto;
    margin-bottom: 20px;
    font-size: 1.2vw;
   
}

.letra1paragrafo{
    font-family: "Bodoni Moda", serif;
    font-size: 25px;
    color: #B12C00;
}

.margem0{
    margin-top: 10px;
}

.letra2paragrafo{
    font-family: "Bodoni Moda", serif;
    font-size: 1.4vw;
    color: #B12C00;
}

/* Fontes -------------------------------------------------------------------*/
.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}
.fonteB{
    font-family: "Bodoni Moda", cursive;
    font-size: 45pt;
    color: #000000;
    /* -webkit-text-stroke: 0.0000001px rgb(78, 35, 236); */
    weight: 900;
}
.fonteC{
    font-family: "Bonheur Royale", cursive;
    font-size: 22pt;
    color: #FFCC00;
}
.bodoni-moda-<uniquifier> {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@media (max-width: 480px){
    body{
    margin: 0px;
    background: url(images/fundoclaro.jpg);
    }
/*.card > a{
    position: relative;
    left: 26%;
}
.card > .button-opinions{
    position: relative;
    left: 22%;
}
.card > a.site-selector:visited{
    color: #B12C00;
}
a:link{
    color: #000000;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40%;
    text-decoration: none;
}
a:visited{
    color: #FFCC00;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40%;
    text-decoration: none;
    
 
}*/
    .container-flex{
        display: flex;
    }
    .card{
        flex: 1;
        
        
    }
    .separator{
        flex: 0;
    }
    .card.about-text > a:link{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 42px;
    left: 18px;
    color:#000000;
    }
    .card.about-text > a:visited{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 42px;
    left: 18px;
    color:#FFCC00;
    }
    .card.opinion-text > a:link{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 33px;
    left: 28px;
    color:#000000;
    }
    .card.opinion-text > a:visited{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 33px;
    left: 28px;
    color:#FFCC00;
    }

    .card.about-site-text > a.site-selector:link{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 42px;
    left: 7px;
    color:#000000;
    }
    .card.about-site-text > a.site-selector:link{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 42px;
    left: 7px;
    color:#B12C00;
    }

    .separator-cell{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 30px;

        color: #B12C00;
    }
    p.text-topbox.margin.page-selector{
        color: #B12C00;
        margin-top: 3px;
    }
    .margin{
        margin-top: 10px;
    }
/*=========================================================== div 1============================================*/
    .container{
        width: 90%;
        position: relative;
        left: 5%;
    }
    .cabecalho2{
    text-align: center;
    margin-top: 0;
    margin-bottom: -10px;
    width: 96%;
    height: 90%;
    padding-bottom: 0;
    position: relative;
    left: 2%;
    border-top: solid 3px #B12C00;
    border-left: solid 3px #B12C00;
    border-right: solid 3px #B12C00;
    }
    .corpo{
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 96%;
    position: relative;
    left: 2%;
    margin-bottom: 80px;
    border-left: solid 3px #B12C00;
    border-right: solid 3px #B12C00;
    border-bottom: solid 3px #B12C00;
    margin-top: 0;
    }
    .paragrafos{
    font-family: "Bodoni Moda", serif;
    position: relative;
    left: 15%;
    margin-top: 20px;
    text-size-adjust: auto;
    margin-bottom: 20px;
    font-size: 3.6vw;
    }
    .text-aloc{
        position: relative;
        left: 4%;
        width: 70%;
        height: 100%;
        text-align: center;
    }
    .letra2paragrafo{
    font-family: "Bodoni Moda", serif;
    font-size: 4vw;
    color: #B12C00;
    }
   

}
